extends index.jade
block vars
    - path="./"
block content
    div(style="background: url('./images/articles/eduprog-sum-bg.jpg') no-repeat center center; background-size: cover").article-header-bg
        .article-title
            h2
                |Итоги образовательной программы, проведенной в декабре 2014 года  в Академпарке по инициативе Центра кластерного
                |развития Новосибирской области
    ul.article-menu
      li: a(href='eduprog-sum.html#theme1') Формирования кластерных структур в современной экономике
      li: a(href='eduprog-sum.html#m2m') Влияние новых технологий на формирование сетевых структур
      li: a(href='eduprog-sum.html#partnership') Инновационный кластер – форма горизонтального партнерства компаний
      li: a(href='eduprog-sum.html#cycles') Стадии жизненного цикла кластера
      li: a(href='eduprog-sum.html#social-capital') Социальный капитал
      li: a(href='eduprog-sum.html#cluster-examples') Примеры кластеров
      li: a(href='eduprog-sum.html#cluster-advantage') Преимущества и проблемы кластерного развития
      li: a(href='eduprog-sum.html#library') Литература
      li: a(href='eduprog-sum.html#comments') Отзывы

    .section-content
        .section-inner.layoutSingleColumn

            blockquote
                p
                    |Прежде бизнес мог расти одним из двух способов: посредством естественного развития, либо путем поглощений.
                    |Современный бизнес растет за счет самых разнообразных альянсов, совместных предприятий и партнерства с потребителями,
                    |но это, к сожалению, понимают лишь единицы.
                .author <a href='http://ru.wikipedia.org/wiki/%D0%94%D1%80%D1%83%D0%BA%D0%B5%D1%80,_%D0%9F%D0%B8%D1%82%D0%B5%D1%80_%D0%A4%D0%B5%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D0%BD%D0%B4' target='_blank'>Питер Друкер<a>, гуру менеджмента
            p
                |Программа разработана и реализована <a href='http://cae.nsu.ru/' target='_blank'>Центром дополнительного образования НГУ (ЦДО НГУ)</a> совместно с
                |<a href='http://econom.nsc.ru/ieie/' target='_blank'>Институтом экономики и ОПП СО РАН</a>.
                |В течение 5 дней около 30 руководителей и сотрудников компаний, входящих в региональный кластер, специалистов
                |организаций инновационной инфраструктуры Новосибирской области обсуждали проблемы развития кластера.

            p
                img(src='./images/articles/markova-vera.jpg').float-left.margin-bottom-ms3
                |<strong>Вера Дмитриевна Маркова</strong>, руководитель программы, доктор экономических наук, профессор НГУ:
                |"Мне хотелось сделать программу «провокационной», чтобы слушатели  поразмышляли  и задумались
                |– что такое кластер, зачем он нам и что мы можем предложить потенциальным партнерам … "
            p.clear-both.margin-bottom-ms0#theme1.anchor
                |В рамках первой темы <strong>«Формирования кластерных структур в современной экономике»</strong> обсуждались три тезиса:
            ul.three-thesis
                li: span Новые реалии внешней среды ведут  к смене парадигмы развития и зарождению кластерно-сетевой экономики.
                li: span Новые технологии меняют правила ведения бизнеса, обуславливают необходимость формирования сетевых структур.
                li: span Высокотехнологичный бизнес имеет ярко выраженную специфику, которая определяет специфику сетевых структур.
            h3
                |Первый тезис, с которого мы начали обсуждение со слушателями: «Новые реалии внешней среды ведут к смене парадигмы
                |развития и зарождению кластерно-сетевой экономики».
            p
                |По нашему мнению, подтвержденному выводами экспертов Мирового банка, руководители и менеджеры отечественных компаний
                |не задумываются о скорости происходящих в мире изменений, не всегда видят <strong>возможности</strong>, которые создают вызовы внешней
                |среды, изменения технологий и правил.

            p.margin-bottom-ms0
                |Между тем 2014 год ярко продемонстрировал, что внешняя среда бизнеса характеризуется:

            ul
                li нестабильностью (volatility);
                li неопределенностью (uncertainty);
                li сложностью  (complexity);
                li неоднозначностью (ambiguity);
                li динамизмом;
                li нелинейностью развития.

            p Первые четыре  характеристики формируют акроним  <a href='http://en.wikipedia.org/wiki/Volatility,_uncertainty,_complexity_and_ambiguity' target='_blank'>VUCA</a>, а в целом можно говорить о хаосе внешней среды.

            img(src='./images/articles/vuca-world.jpg').full-width

            p
                |Чтобы выйти из «скорлупы» бизнеса и понять, как внешняя среда влияет на деятельность компаний, слушателям было предложено
                |поработать в группах над указанными  характеристиками внешней среды. Необходимо было понять (описать)  суть каждой
                |характеристики, определить возможные формы ее проявления, а также показать, что предпринимает бизнес, каковы его ответные
                |действия.

            p
                |Например, в процессе обсуждения было отмечено, что сложность  (complexity) внешней среды означает многообразие переменных,
                |связей, информации. Проявляется сложность в том, что стираются границы отраслей, формируются пространства технологий,
                |где находить свое место компаниям гораздо сложнее, чем в стабильных отраслях, также усложняется конкуренция...
                |Поскольку менеджеры видят лишь часть переменных и связей,  доступна лишь часть информации, которую к тому же сложно
                |обрабатывать, то это требует креативного и стратегического мышления менеджеров, развития человеческого капитала компании,
                |объединения с другими компаниями для лоббирования, совместного использования ресурсов...

            p
                |Неоднозначность (ambiguity) развития внешней среды означает, что причинно-следственные связи непонятны, нет прецедентов,
                |изменения могут нести как положительный, так и отрицательный эффект, поэтому менеджеры вынуждены экспериментировать,
                |учиться на ошибках, как результат – появление такой категории как «минимально целесообразный продукт»...

            p
                |Динамизм и подвижность внешней среды ведут к появлению новых механизмов взаимодействия в бизнесе, динамических
                |бизнес-моделей, к  тому, что управление компанией все чаще ассоциируют с командной игрой типа футбола, где в рамках
                |заданных правил каждый участник команды должен быть инициативным и самостоятельно принимать решения

            p
                |В целом обсуждение позволило понять, что требования креативности и инициативности, готовности к изменениям и умения учиться
                |на ошибках, партнерства и со-конкуренции – это не просто модные слова в менеджменте, а ответ бизнеса на изменения внешней среды.

            p: strong Иными словами: мир усложнился, необходимо учитывать новые реалии в системе управления бизнесом.

            img(src='./images/articles/road-chaos.jpg').full-width

            h3#m2m.anchor
                |Влияние новых технологий на формирование сетевых структур было рассмотрено на примере рынка М2М (machine-to-machine,
                |другой термин – интернет вещей), <span class='tip-text' data-ot-offset='[-40, -40]' data-ot="Сборник ситуаций, журнал Harvard Business Review – Россия, январь-февраль 2013">кейс «Новые перспективы»</span>
            p.margin-bottom-ms0 Анализ кейса позволил понять и обсудить несколько аспектов:
            ul
                li ключевую проблему, на решение которой направлен стратегический альянс;
                li что может дать альянс его участникам;
                li основные проблемы, с которыми может столкнуться альянс.

            p
                |В процессе обсуждения было показано, что новые технологии формируют новые возможности, для быстрого освоения которых
                |компании создают стратегические альянсы, в том числе международные.   Альянсы и иные сетевые структуры позволяют
                |использовать ресурсные рычаги для победы в конкуренции за долю возможностей, за формирование структуры будущих «отраслей»,
                |за новые правила и стандарты. Определяющий фактор – скорость действий!
            p
                |Важно понять: правила формируются в процессе технологической гонки, победившая технология не всегда является самой лучшей,
                |но победитель получает ВСЕ – он формирует новый стандарт или правила, чаще всего с партнерами.

            img(src='./images/articles/internet-of-things.jpg').full-width
            p
                |Например, никто не мог предсказать  победителя среди операционных систем CP\M, Macintosh, DOS  до заключения сделки
                |Microsoft и IBM, при этом считается, что победившая технология не была самой лучшей.

            p: strong
                |Вывод: современные технологии ведут к изменению правил ведения бизнеса. Часто правила формируются по ходу игры,
                |при этом победитель получает все!

            h3
                |Обсуждение специфики высокотехнологичного бизнеса помогло сформулировать
                |<span class='tip-text' data-ot-offset='[-40, -40]' data-ot="Ключевые факторы успеха (КФУ) – управляемые переменные, которые определяют конкурентные
                |позиции компании и важны для всех компаний данной сферы">ключевые факторы успеха (КФУ)</span>,
                |которые важны для всех компаний в данной сфере.

            p.margin-bottom-ms0   Особенности высокотехнологичного бизнеса такие как:
            ul
                li
                    |высокие интеллектуальные затраты при резком падении цены продукции по мере роста продаж
                    |(<a href='https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD_%D0%9C%D1%83%D1%80%D0%B0' target='_blank'>закон Гордона Мура</a>);
                li проблемы выбора направлений развития (казино технологий);
                li высокие риски и сменяемость лидеров;
                li растущая прибыльность высокотехнологичных компаний и возможности использования ресурсных рычагов;
                li
                    |совместимость с другими продуктами и как следствие формирование экосистем (технологических платформ, стандартов) и другие особенности
                    |определяют выгоды сетевого сотрудничества и растущие сетевые эффекты
                    |(<a href='http://www.irkinfo.ru/zakon-metkalfa.html' target='_blank'>закон Роберта Меткалфа</a>).

            p
                |Соответственно КФУ высокотехнологичных компаний:  наличие специалистов-профессионалов, доступ к знаниям и восприимчивость,
                |гибкость, умение использовать ресурсные рычаги и сетевые эффекты.
            p: i Главное – это не абсолютный стандарт, а экосистема, партнерская сеть.
            p: strong    Вывод:  специфика высокотехнологичного бизнеса «работает» в пользу сетевого сотрудничества

    img(src='./images/articles/world-grid.jpg').full-size-strip-img
    .section-content#partnership.anchor
        .section-inner.layoutSingleColumn
            p.margin-bottom-ms0 В рамках второй темы <strong>«Инновационный кластер – форма горизонтального партнерства компаний»</strong> обсуждались следующие тезисы и проблемные аспекты:
            ul
                li Кластеры – это разновидность сетевого партнерства
                li Отличительные черты инновационного кластера
                li Жизненный цикл кластера и кластерный процесс

            h3
                |С целью понимания специфики кластеров как разновидностей сетевых партнерских структур были рассмотрены возможные
                |формы сетевых структур, их особенности и решаемые задачи

            p
                |Обсуждение показало, что практически любая компания сотрудничает с партнерами по разным поводам: это совместные научные
                |исследования и участие в грантах\тендерах, производственная кооперация,  маркетинг, совместные продажи и другие
                |совместные мероприятия, лоббирование интересов и т.д.
            p
                |При этом заключаются соглашения о сотрудничестве, выходящие за пределы обычных взаимоотношений компаний,
                |но не предполагающие их слияния. Это могут быть соглашения о создании ассоциации как самой «мягкой» формы сотрудничества,
                |стратегического альянса, консорциума, сетевой структуры.
            p
                |Сетевая структура – это свободно связанная, гибкая, горизонтально организованная система равноправных, но, как правило,
                |разных по выполняемым ролям и функциям независимых партнеров.
            p.margin-bottom-ms0 От сетевых структур легко перебрасывается мостик к кластерам, которые:
            ul
                li Являются разновидностью сетевых структур
                li Характеризуются разнообразием участников (акторов)
                li Формируются с целью повышения конкурентоспособности участников и региона, где они расположены.
            h3
                |В процессе обсуждения возник вопрос – <strong>какую структуру можно назвать инновационным кластером? В чем его специфика?</strong>
            img(src='./images/articles/innovation-lamp.jpg').center-img
            p.margin-bottom-ms0   Итоговое мнение:
            ul
                li
                    |Инновационный кластер более зрелая форма партнерства (сложная игра), ориентированная на использование возможностей и
                    |соответственно на активную позицию участников в противовес адаптации, пассивной стратегии выжидания и последующего
                    |присоединения  к новой технологии.
                li При возникновении «окна возможностей» важны время и скорость  -> объединение усилий ряда участников.
                li
                    |Ключевой признак – новизна (новые идеи, технологии, возможности, рынки, отношения). Люди могут сами создавать новое.
                    |Новое манит, но пугает! Там много неясного, поэтому даже крупные корпорации не готовы взять на себя все риски, даже
                    |их ресурсов может не хватить для реализации -> формирование концепции open source  и объединение усилий участников.
                li
                    |В борьбе за формирование будущего важны творческие решения: креативность, а не аутсорсинг!   Объединяемся, чтобы
                    |творчески решить проблемы.
                li
                    |Новизна идей, технологий определяет  «ускользающую» цель кластера и необходимость распределения рисков между
                    |участниками.
                li Сочетание конкуренции и сотрудничества (со-конкуренция).
                li
                    |Специализация участников с перспективой установления «мостов» со смежными сферами деятельности
                    |(для биотехнологического кластера – это сферы здоровья, питания, сельского хозяйства и экологии).
                li
                    |Многообразие участников (экономических акторов) – это не только компании, но и  представители науки, образования,
                    |финансовых структур, организаций инфраструктуры поддержки инновационной деятельности, представители власти.
                    |Основа сотрудничества – модель «тройной спирали».
            p
               |<strong>Вывод: инновационный кластер – это партнерство участников, которые готовы создавать что-то новое и готовы ради этого рисковать</strong>
               |(есть желание «играть» и готовность внести вклад, рискнуть).

            p.margin-bottom-ms0: strong
                |Вопросы-задания для участников программы:<br>
                |Если компания готова участвовать в деятельности инновационного кластера, то
            ol
                li Где границы вашего бизнеса? В чем вы профессионалы?  По сути, речь идет об определении пределов компетенций компании, ее специализации.
                li Чем готовы рискнуть (что готовы поставить на кон игры)?
                li Ради чего готовы рисковать?
            h3#cycles.anchor  Кластеры, как и другие организационные структуры, проходят в своем развитии ряд стадий жизненного цикла.
            img(src='./images/articles/cycle.jpg').center-img
            p
                |1 стадия – агломерация (рой). В регионе (в нашем случае – в районе) есть компании и другие потенциальные участники,
                |заинтересованные в развитии сотрудничества, повышении конкурентоспособности участников и региона в целом.
                |На этой стадии создаются ассоциации, возникают стихийные связи и взаимодействия.
            p
                |2 стадия – формирование кластера. Ряд участников кооперируется вокруг ключевой деятельности (идеи) для реализации
                |общих возможностей через свои связи (появляется зародыш кластера).
            p
                |3 стадия – развитие кластера, она характеризуется новыми связями между участниками, участников связывают общая
                |деятельность, общие торговые марки, сайты, здравый смысл … Возникают или привлекаются в регион новые участники этой
                |общей деятельности или же связанной с ней деятельности .. . . В регион могут прийти финансовые фонды и иные организации …
            p
                |4 стадия – зрелость. Для этой стадии характерна некоторая критическая масса участников + развитие отношений вне кластера,
                |с другими кластерами, регионами, видами деятельности . . .
            p
                |Трансформация кластера – неизбежный этап его развития, так как динамично меняются технологии, процессы, рынки, отношения ….

            h3 Естественные вопросы: кто является катализатором кластерных инициатив и как запускается кластерный процесс?

            p
                |Многие кластеры возникают спонтанно и складываются постепенно, в течение длительного периода времени.
                |Более осознанные действия – кластерные инициативы – развиваются на определенном этапе, когда
            p.margin-bottom-ms0 Катализаторы кластерных процессов:
            ul
                li Инициатива и действия правительства
                li
                    |Окно возможностей: предпосылки предшествующего развития, наличие в регионе  специализированных факторов – экономических,
                    |технологических, социальных и пр.
                li Кризисные явления
                li Лидер, у которого есть видение, или группа лиц, заинтересованных в развитии региона, создании «региональной идентичности»

            p
                |Гораздо сложнее ответить на вопрос о том, как запускается кластерный процесс. Очевидно, что он может идти сверху – вниз
                |по инициативе правительства или организации (конструируемый кластер), либо снизу – это органический процесс формирования
                |кластера. В принципе возможно сочетание этих подходов.
            p
                |При органическом (естественном) процессе формирование кластера происходит по инициативе нескольких участников, при этом
                |происходит спонтанное создание связей и совместных стратегий, формирование чувства идентичности.

            p.margin-bottom-ms0    Западные исследователи выделяют в кластерном процессе ряд этапов, наиболее значимые этапы:
            ul
                li Формирование \ развитие социального капитала и создание механизмов построения доверия между участниками
                li Развитие связей между участниками, формирование общего видения, определение стратегии развития кластера
                li Собственно деятельность кластера (понимание этой деятельности)

            h3#social-capital.anchor Социальный капитал кластера и  доверие
            img(src='./images/articles/social-capital.jpg' style='float: left')
            p
                |Социальный капитал – это реальные или потенциальные ресурсы, связанные с обладанием устойчивой сетью более или менее
                |институциализированных отношений взаимного знакомства и признания (Птер Бурдье). Социальный капитал создает опору
                |взаимоотношений и репутацию, что позволяет получать кредиты во всех смыслах этого слова, без него сложно строить доверие . . .

            p
                |Основой социального капитала является человеческий капитал + доверие + нормы и обязательства + единое понимание

            p.margin-bottom-ms0     Формирование социального капитала кластера:

            ul
                li Осведомленность о потенциальных выгодах кластеризации ключевых заинтересованных сторон.
                li Открытость кластера, открытое общение участников, транспарентность (доступность информации, отсутствие секретности)
                li Расширение сферы обмена информацией
                li Формирование сетей знаний (advanced knowledge networks)
                li Опора на совместные идеи и усилия, если они не в ущерб или за счет других участников кластера, – способ поддержания доверия
                li Формирование групп, в которых индивидуальные компетенции как используются, так и выращиваются

            p
                |<strong>Вывод и проблема: чтобы сохранить доверие, кластер должен обеспечить баланс конкуренции и сотрудничества.</strong>
                |Сложно – тонкое балансирование между тем, какой информацией можно поделиться, и какой не стоит делиться с коллегами,
                |которые являются одновременно партнерами и конкурентами.

            h2 Кластер приводится в движение успехом!

            p
                | Поэтому обсуждение в рамках третьей темы <strong>«Лучшие практики кластерного сотрудничество и со-конкуренции»</strong>
                |было направлено на то, чтобы показать  примеры сетевого сотрудничества, а также разобрать возможные преимущества кластеров.

            p
                |Отношения «сотрудничество – соперничество», или со-конкуренции, возникают в тех случаях, когда компании
                |<i>кооперируются со своими конкурентами</i> ради извлечения взаимной выгоды. Эта модель преобладает в высокотехнологичных
                |отраслях экономики, особенно развито «доконкурентное» сотрудничество в сфере R&D.

            p
                |Подобную модель использовали IBM, Apple, Microsoft и другие компании для проникновения на новые рынки и для дальнейшего
                |упрочения своего положения на тех рынках, где они уже господствовали.

            h3.margin-bottom-ms0 Примеры сетевого сотрудничества в сфере R&D.
            ul
                li <strong>Интерактивное телевидение</strong> – Sega, AT&T, Time Warner, TCI, Matsushita, Liberty Media, QVC
                li <strong>Воспроизведение изображения</strong> – Kodak, AT&T, Apple, Philips, Motorola, Silicon Graphics
                li
                    |<strong>Кабельные преобразователи</strong> – Microsoft, Intel, General Instruments, Kaleida Labs, Scientific Atlanta,
                    |Silicon Graphics, TCI, Time Warner, Toshiba

            h3.margin-bottom-ms0  Пример разных форм конкурентного сотрудничества двух признанных лидеров
            table.table-20-45-45
                thead
                    th
                    th Sony – Япония
                    th Samsung – Корея
                tr
                    td История создания
                    td
                        |Создали в 1946 г. изобретатель М.Ибука и менеджер А.Морита. Цель – сделать  жизнь потребителей удобнее
                        |благодаря новаторским продуктам.
                    td
                        |Создана (1969г.) как филиал международного конгломерата   Samsung Group (1938г.) для выхода на рынок
                        |электроники. «Полупроводники – хлеб электронного бизнеса. Внесем свой вклад в развитие нации».
                tr
                    td Основные направления бизнеса
                    td
                        |Электронный бизнес (40%) + развлечения: музыка (Sony BMG), кино (Sony Pictures Ent.),
                        |компьютерный бизнес (Sony Computer Ent.) + банк и пр.
                    td  Электронные комплектующие (полупроводники), LCD-телеви­зо­ры, мониторы, мобильные телефоны
                tr
                    td Реакция на цифровые технологии как вызов внешней среды
                    td Создание партнерских сетей и эффект синергии (soft+hard – 2 колеса телеги)
                    td Производство комплектующих для отрасли, широкий диапазон бытовой электроники и электроприборов
                tr
                    td(rowspan='3') Конкурентные стратегии: партнерство и конкуренция
                    td Поставки аккумуляторов, зарядных устройств Samsung
                    td Поставки микросхем DRAM , флэш-памяти Sony
                tr
                    td(colspan='2')
                        |Совместное предприятие « S – LCD»: Sony  – лидерство в разработке новых продуктов, Samsung  – в сфере
                        |LCD-технологий (жидкокристаллические экраны тонкопленочной TFT технологии)
                tr
                    td Партнерство с IBM, Toshiba.    Совместное предприятие Sony Ericsson (2001).
                    td
                tr
                    td Разработки: продукты и технологии
                    td
                        |Покупка лицензии (транзистор, 1955), собственные товары и технологии  (Trinitron (1960) –
                        |качество для цветных ТV, Walkman (1979), видеомагнитофон, видеокамера, ТV высокой четкости, игровые приставки,
                        |ПК VAIO и др.).
                    td
                        |Технологический лидер в LCD и TFT-технологиях. Самая технологически новаторская компания
                        |в производстве DRAM и флэш-памяти. Флагманский продукт –  мобильные телефоны.

            h3.margin-bottom-ms0#cluster-examples.anchor Примеры кластеров
            ul
                li Креативные кластеры – в Шотландии, Голливуд в США, создается в Санкт-Петербурге (для коммерциализации культурного потенциала города)
                li Оптический кластер в Аризоне
                li Морской кластер в Австралии
                li
                    |Долина Этна в Италии, Сицилия - производство полупроводников, компьютерных чипов, ПО, биотехнологий.
                    |В кластер пришли крупные компании со всего мира –  23 предприятия принадлежат Нокиа, IBM, Алкатель и др.
                    |Ежегодно создается  до   60 новых фирм, работают  5000 чел. Средний размер фирмы — около 5 работников
                li Кластер электроинструментов вокруг Венеции
                li Эмилия-Романья:  кластер Сассуоло «керамическая плитка» + кластер «Долина моторов»

            h3.margin-bottom-ms0#cluster-advantage.anchor Преимущества кластеров
            ul
                li Сила социального капитала -> кредиты (ресурсы, доверие, поддержка …)
                li Совместное использование знаний
                li Парадигма открытых инноваций, в рамках которой неформальные (доверительные) отношения облегчают процессы изменений
                li Взаимное опыление идеями (cross-pollination), информационный обмен, облегчающий и ускоряющий инновационные процессы
                li Использование ресурсных рычагов, в том числе извлечение опыта, анализ ошибок
                li Создание барьеров для других
                li Новые ниши, продукты за счет «конструирование» связей и доступа к новым компетенциям (управление)
                li Кластерные солидарность и самосознание (общая торговая марка, маркетинг, кооперация, сетевая активность  …)
                li Среда обучения – общение, обсуждения, …
                li Отношения с государством и финансовыми структурами
                li Социальный комфорт
                li Кластерная культура
                li Гибкая специализация (Италия)
                li Синтез мастерства и новейших технологий
                li В рамках государства кластеры являются точками роста внутреннего рынка.
                li Отношения внутри кластера призваны стимулировать инновационную деятельность и порождать совершенно новые возможности.
                li Кластер порождает ожидания, именно ожидания важны для рынка,  а не патент или  экономия затрат

            p.margin-bottom-ms0
                |<strong>Особо выделяют Spill-over эффекты</strong> – эффекты перелива, перетока знаний, коллективного обучения,
                |в том числе и за счет перехода сотрудников

            ul
                li Функциональный эффект «перетекания» – эффект «зубчатой передачи», цепной реакции
                li Политический
                li Когнитивный
                li From places to spaces (Келли)

            p
                |Кластер достигает критической массы в создании знаний и использует их более эффективно. Кластер способствует
                |созданию новых стандартов, сетевых экосистем, приводит к изменению механизмов конкуренции (от конкуренции компаний
                |к конкуренции технологических систем). Однако преимущества кластера не реализуются автоматически.

            h3.margin-bottom-ms0 Проблемы кластерного развития
            ul
                li Конструирование будущего
                li Определение «окна возможностей»
                li Формирование «пространства достижения согласия», открытой социальной платформы для интерактивного диалога (с этого начинается кластерная политика)
                li Развитие социального капитала
                li Определение видения и стратегии кластера
                li Формирование и развитие бизнес-модели кластера
                li Развитие навыков использования ресурсных рычагов
                li Кластерная динамика и кластерное окружение

            p
                |Сложный вопрос – как перейти от клиентского подхода в управлении компанией (аутсорсинг, ОЕМ) к партнерскому подходу,
                |совместному творческому решению проблемы, использованию возможностей сетевого партнерства ????

            h2  Компетенции, необходимые для развития кластерных инициатив
            ul
                li Лидерство
                li Видение
                li Цельность, целостность, порядочность (integrity)
                li Межличностное общение
                li Навыки управления сложными структурами
                li Аналитические навыки

            p
                |<strong>Вывод: Кластер – это синергия, рыночный барьер, рычаг роста компаний и развития региона!</strong>
                |Но необходимо научиться извлекать преимущества кластерного развития, управлять ими.

            h2#library.anchor Литература
            ol
                li Артур Брайан (2007). Растущая прибыльность и новый мир бизнеса. – Сб.: Управление высокотехнологичным бизнесом. – М.: Альпина Бизнес Букс.
                li Беннет Н., Лемуан Джи Дж. (2014). VUGA: с чем это едят и какая от этого польза // Harvard Business Review – Россия, март.
                li Бранденбургер А., Нейлбафф Б. (2012). Co-opetition. Конкурентное сотрудничество в бизнесе. – М.: Омега-Л, Кейс.
                li Си Чжин Чанг (2010). Sony против  Samsung. – М.: Эксмо.
                li Третьяк В.П. (2006). Кластеры предприятий. – М.: Август Борг.
                li Хамел Г, Прахалад К.К. (2002).Конкурируя за будущее. Создание рынков завтрашнего дня. – М.: Олимп-Бизнес.
                li Хэмел Г. (2007). Во главе революции. Как добиться успеха в турбулентные времена, превратив инновации в образ жизни. – Бест Бизнес Букс.
                li <a href='http://geo.1september.ru/article.php?ID=200502002' target='_blank'>Кластеры Италии</a>

            p
                |А также работы Андриана Сливоцки, Чан Кима и Рене Моборн, Генри Чесбро, Наталии Смородинской, Марины Шерешовой
                |и многих других исследователей кластерного процесса.

            h2#comments.anchor Отзывы

            p Более половины участников написали свои отзывы о программе. В качестве положительных моментов программы отмечено:

            ul.margin-bottom-ms0
                li.margin-bottom-ms0 Представление о природе кластерных взаимоотношений:
                    ul
                        li «Появилась упорядоченная системная картина кластера».
                        li «Сложилось определенное понимание функций и задач, структуры кластера».
                        li «Объемный взгляд на формирование кластера, варианты решения кластерных задач».
                        li «Полезные примеры из бизнеса».
                        li «Понравилась идея кластера».
                li.margin-bottom-ms0 Обсуждение проблем и сложностей создания и функционирования кластера:
                    ul
                        li «Видение проблем развития кластера, как можно пытаться их решить».
                        li «Нужны коммуникации!».
                        li «Понял, что эффективные кластеры в сфере новых технологий невозможны без участия государства».
                        li
                            |«Семинар оказался крайне полезным. Одна история, когда изучаешь аспекты кластерной политики в теории,
                            |а совсем другое, когда участвуешь в дискуссиях реальных участников кластера. Я поняла, какие есть перспективы
                            |развития региона, какие возможности и проблемы кластеризации. И как общий вывод  - это неэффективность и
                            |отсутствие кластеров в реальности. В ходе дискуссии были выявлены пути решения проблем, но, на мой взгляд,
                            |нужно менять философию и культуру ведения бизнеса».
                        li
                            |«Многие не понимают, зачем нужен кластер, не понимают, как он будет функционировать. Компании боятся доверять
                            |друг другу, а еще больше – государству».
                        li
                            |«Новое (создание кластера) принимается сложно. Люди боятся рисковать и тратить ресурсы. Многие до сих пор считают,
                            |что различного рода объединения – зло. Поэтому необходимо формировать понимание. Давать подробную информацию.
                            |Кластер должен формироваться "сам собой" за счет понимания людей. Люди должны прийти к этому сами. Не надо
                            |навязывать сверху».
                        li
                            |«Существует ряд объективных причин, прежде всего незрелость малого бизнеса, недостаточный информационный обмен,
                            |кадровые проблемы и пр., которые ограничивают эффективность и развитие кластеров».
                        li «В технопарках области нет четкой управляющей структуры инновационного развития, объединяющей компании в кластер».

                li.margin-bottom-ms0 Понимание смысла и перспективы объединения в кластер:
                    ul
                        li «Объединяться выгодно для всех. Объединяться надо. Не надо стоять на месте».
                        li  «Необходимо понимание своей специализации, «образа» будущего и себя в этом образе (возможности)».
                        li «Перспективы и возможности для участников».
                        li «необходимо объединяться».
                        li «Существуют предпосылки создания отраслевых кластеров в Новосибирской области, например, кластера экологических технологий».

                li.margin-bottom-ms0 Знакомство и неформальное общение с коллегами, установлены новые связи
