extends ./../index.jade
block vars
    - path="./../"
block content
    include ./../includes/company-list-menu
    .company-content
        .block
            h3 1. О компании
            p
                | ГК СибБиоГаз работает в сфере экологически чистой переработки отходов с получением дополнительных продуктов - тепловой
                | и электроэнергии, высококачественных органических удобрений, биогаза. Компания также занимается проектированием и
                | строительством объектов энергетики на основе ВИЭ (возобновляемые источники энергии) - биогазовые станции, солнечные
                | электростанции, системы горячего водоснабжения и отопления на основе солнечных коллекторов. В настоящее время компания
                | участвует в реализации проекта строительства первой биогазовой станции в Новосибирской области, электрической мощностью 2,1 МВт.

        .block
            h3 2. Сфера деятельности
            p
                |<strong>Переработка отходов</strong>, далее уточнение может быть  - экологически чистая, с получением дополнительных
                |продуктов в виде тепловой и электроэнергии, высококачественных органических удобрений, биогаза …
            p
                |<strong>Проектирование и строительство объектов энергетики на основе ВИЭ</strong> (возобновляемых источников энергии) –
                |биогазовые станции, солнечные электростанции, системы горячего водоснабжения и отопления на основе солнечных коллекторов        .block

        .block
            h3 3. Товары/услуги
            ul
                li
                    |услуги предпроектного анализа, разработка технико-экономического обоснования (ТЭО), проектирование комплексов
                    |по экологически чистой переработке отходов производства с получением товаров, тепловой и электрической энергии;
                li
                    |разработка проектов на основе возобновляемых источников энергии (ВИЭ) – биомасса, солнечная энергия;
                li
                    |подбор и организация поставки, монтажа и пуско-наладки оборудования для проектов ВИЭ (газопоршневые генераторы, солнечные панели и коллекторы, когенерационные станции);

                li
                    |подбор и организация поставки, монтажа и пуско-наладки оборудования для переработки отходов (экструдеры для
                    |изготовления пеллет и брикетов, компостные машины, ворошители буртов и пр.);
                li
                    |консультации по технологиям, связанным с переработкой отходов, малой и распределенной энергетикой на основе ВИЭ;
                li
                    |повышение квалификации  специалистов предприятий по направлению «Обеспечение безопасности при работе с опасными
                    |отходами. Ресурсо- и энергосберегающие технологии» и стажировки на предприятиях Италии и Германии.

        .block
            h3 4. Сферы применения
            ul
                li сельское хозяйство
                li ЖКХ
                li индивидуальные дома
                li базы отдыха

        .block
            h3 5. Технологии
            ul
                li Биогазовые технологии
                li Энергосберегающие технологии
                li Ресурсосбережение

        .block
            h3 6. Ценность для клиентов
            ul
                li повышение энергоэффективности бизнеса;
                li получение тепловой и электрической энергии для отопления, горячего водоснабжения, электроснабжения;
                li переработка отходов (экология)

        .block
            h3 7. Опыт, реализованные проекты
            p
                | Компания участвует в строительстве первой биогазовой станции в Новосибирской области, электрической мощностью 2,1 МВт.

        .block
            h3 8. Партнеры компании
            ul
                li компания – член некоммерческого партнерства территориального инновационного кластера «Биофарм»;
                li директор компании Артем Поршнев – член Координационного совета по экологии и сохранению природного наследия Межрегиональной ассоциации «Сибирское соглашение»; - http://www.sibacc.ru/councils/detail_council/103775/ 
                li Есть деловые партнеры в Германии, Италии, Чехии

        .block
            h3 9. Ресурсы, компетенции компании
            p
                |Специалисты компании имеют высшее техническое образование и дополнительное образование по направлению "Обеспечение
                |экологической безопасности при работах с опасными отходами. Энерго- и ресурсосберегающие технологии". регулярно повышают
                |свой профессиональный уровень, имеют за плечами стажировки на  предприятиях в Европе.

        .block
            h3 10. Открытость компании
            p
                |Компания активно участвует в обсуждении  проблем экологии и сохранения природного наследия, популяризации бережного
                |обращения к природе и природным богатствам
