#first-page-banner
    .logo-text
        h1 КЛАСТЕРЫ
        small тренд развития современной экономики
    img(src='./images/rocket.svg').rocket-picture
    img(src='./images/smoke.png').smoke-picture


